* {
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 40px 320px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: #292828;
}

.board {
    display: flex;
    width: 800px;
    height: 850px;
    padding: 25px 0px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    background: #31842F;
}


.board-title {
    color: #1B2732;
    font-size: 48px;
    font-family: Jua;
    line-height: 100px;
    letter-spacing: 12px;
    filter: blur(2.5px);
}

.board-cards {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.board-center{
    display: flex;
    width: 100%;
    padding: 50px 0px;
    justify-content: space-evenly;
    align-items: center;
}

.board-center .card{
    transform: rotate(30deg);

}
.card {
    width: 80px;
    border-radius: 10px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}