* {
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 40px 320px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: #292828;
}

main {
    display: flex;
    width: 700px;
    height: 800px;
    padding: 25px 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #31842F;
}


.board-title {
    color: #1B2732;
    font-size: 48px;
    font-family: Jua;
    line-height: 100px;
    letter-spacing: 12px;
    filter: blur(2.5px);
}
.board-cards{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}